.constructor__wrapper {
    width: 252px;
    height: 470px;
    border: 2px dashed black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .constructor__wrapper {
        width: 210px;
        height: 392px;
    }
}

@media (max-width: 576px) {
    .constructor__wrapper {
        width: 180px;
        height: 336px;
    }
}
