.constructor__wrapper {
    width: 252px;
    height: 470px;
    border: 2px dashed black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .constructor__wrapper {
        width: calc(252px / 1.2);
        height: calc(470px / 1.2);
    }
}

@media (max-width: 576px) {
    .constructor__wrapper {
        width: calc(252px / 1.6);
        height: calc(470px / 1.6);
    }
}

@media (max-width: 420px) {
    .constructor__wrapper {
        width: calc(252px / 1.6);
        height: calc(470px / 1.6);
    }
}
