.display__wrapper {
    display: flex;
    width: 240px;
    height: 61px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.10), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    align-items: center;
    justify-content: center;
}
.display__inner-wrapper {
    width: 232px;
    height: 52px;
    border-radius: 5px;
    background-color: #F3F4F6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.display__result {
    font-size: 24px;
    color: black;
    font-weight: bold;
    padding: 0 5px;
}

@media (max-width: 768px) {
    .display__wrapper {
        width: 200px;
        height: 51px;
    }
    .display__inner-wrapper {
        width: calc(232px / 1.2);
        height: calc(52px / 1.2);
    }
}

@media (max-width: 576px) {
    .display__wrapper {
        width: 171px;
        height: 44px;
    }
    .display__inner-wrapper {
        width: calc(232px / 1.4);
        height: calc(52px / 1.4);
    }
}

@media (max-width: 480px) {
    .display__wrapper {
        width: 150px;
        height: 38px;
    }
    .display__inner-wrapper {
        width: calc(232px / 1.6);
        height: calc(52px / 1.6);
    }
}