.display__wrapper {
    display: flex;
    width: 240px;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.10), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    align-items: center;
    justify-content: center;
}
.display__inner-wrapper {
    width: 232px;
    height: 52px;
    border-radius: 5px;
    background-color: #F3F4F6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.display__result {
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding-right: 10px;
}