.drag__wrapper {
    width: 252px;
    height: 470px;
    border-radius: 6px;
    border: 2px dashed #C4C4C4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drag__wrapper-component {
    justify-content: start;
    gap: 16px;
    width: 252px;
    height: 470px;
    border-radius: 6px;
    border: 2px dashed #C4C4C4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drag__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
}
.drag__title {
    color: #5D5FEF;
    font-size: 16px;
}
.drag__text-p {
    margin-top: -5px;
    color: #6B7280;
    font-size: 16px;
}

@media (max-width: 768px) {
    .drag__wrapper {
        width: calc(252px / 1.2);
        height: calc(470px / 1.2);
    }
}

@media (max-width: 576px) {
    .drag__wrapper {
        width: calc(252px / 1.6);
        height: calc(470px / 1.6);
    }
}


