.operations__wrapper {
    width: 240px;
    height: 57px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.10), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
}
.operation__item {
    width: 52px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #E2E3E5;
    position: relative;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.operation__item:hover {
    scale: 1.05;
    background-color: #f8f8f8;
}

.operation__item:active {
    scale: 0.98;
}

.operation__symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

@media (max-width: 768px) {
    .operations__wrapper {
        width: calc(240px / 1.2);
        height: calc(57px / 1.2);
    }
    .operation__item {
        width: calc(52px / 1.2);
        height: calc(48px / 1.2);
    }
}

@media (max-width: 576px) {
    .operations__wrapper {
        width: calc(240px / 1.4);
        height: calc(57px / 1.4);
    }
    .operation__item {
        width: calc(52px / 1.6);
        height: calc(48px / 1.6);
    }
}

@media (max-width: 376px) {
    .operations__wrapper {
        width: calc(240px / 1.6);
        height: calc(57px / 1.6);
    }
    .operation__item {
        width: calc(52px / 1.6);
        height: calc(48px / 1.6);
    }
}