.result__wrapper {
    width: 240px;
    height: 73px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.10), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result__inner-wrapper {
    width: 232px;
    height: 64px;
    background-color: #5D5FEF;
    border-radius: 5px;
    position: relative;
    transition: all 200ms linear;
}

.result__inner-wrapper:hover {
    scale: 1.02;
}

.result__inner-wrapper:active {
    scale: 0.98;
}

.result__value {
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .result__wrapper {
        width: calc(240px / 1.2);
        height: calc(73px / 1.2);
    }
    .result__inner-wrapper {
        width: calc(232px / 1.2);
        height: calc(64px / 1.2);
    }
}

@media (max-width: 576px) {
    .result__wrapper {
        width: calc(240px / 1.4);
        height: calc(73px / 1.4);
    }
    .result__inner-wrapper {
        width: calc(232px / 1.4);
        height: calc(64px / 1.4);
    }
}

@media (max-width: 480px) {
    .result__wrapper {
        width: calc(240px / 1.6);
        height: calc(73px / 1.6);
    }
    .result__inner-wrapper {
        width: calc(232px / 1.6);
        height: calc(64px / 1.6);
    }
}