.switcher__wrapper {
    justify-self: flex-end;
    width: 256px;
    height: 38px;
    background-color: #F3F4F6;
    border-radius: 6px;
}

.switcher__container {
    display: flex;
    align-items: center;
    justify-items: center;
}

.switcher__run, .switcher__con{
    font-size: 14px;
    width: 114px;
    height: 38px;
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #4D5562;
}
.switcher__con {
    width: 142px;
}

@media (max-width: 768px) {
    .switcher__wrapper {
        width: 210px;
        height: 32px;
    }
    .switcher__run, .switcher__con {
        width: 95px;
        height: 32px;
    }
    .switcher__con {
        width: 118px;
    }
}

@media (max-width: 576px) {
    .switcher__wrapper {
        width: 180px;
        height: 27px;
    }
    .switcher__run, .switcher__con {
        width: 81px;
        height: 27px;
    }
    .switcher__con {
        width: 101px;
    }
}

@media (max-width: 480px) {
    .switcher__wrapper {
        width: 160px;
        height: 24px;
    }
    .switcher__run, .switcher__con {
        width: 71px;
        height: 24px;
        font-size: 12px;
    }
    .switcher__con {
        width: 89px;
    }
}