.switcher__wrapper {
    justify-self: flex-end;
    width: 256px;
    height: 38px;
    background-color: #F3F4F6;
    border-radius: 6px;
}

.switcher__container, .switcher__container-run-sm {
    display: flex;
    align-items: center;
    justify-items: center;
}

.switcher__wrapper-run-sm {
    width: auto;
    height: 38px;
    background-color: #F3F4F6;
    border-radius: 6px;
}

.switcher__sw, .switcher__sw-sm {
    font-size: 14px;
    width: 114px;
    height: 38px;
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #4D5562;
}

.switcher__sw:last-child, .switcher__sw-sm:last-child{
    width: 142px;
}

@media (max-width: 768px) {
    .switcher__wrapper {
        width: calc(256px / 1.2);
        height: calc(38px / 1.2);
    }
    .switcher__sw {
        width: calc(114px / 1.2);
        height: calc(38px / 1.2);
    }
    .switcher__sw:last-child {
        width: calc(142px / 1.2);
    }
}

@media (max-width: 576px) {
    .switcher__wrapper {
        width: calc(256px / 1.6);
        height: calc(38px / 1.6);
    }
    .switcher__sw {
        width: calc(114px / 1.6);
        height: calc(38px / 1.6);
        font-size: 12px;
    }
    .switcher__sw:last-child {
        width: calc(142px / 1.6);
    }
}
